.navbar a{
    color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.myJumbotron{
    background-image: url(../img/william-bout-264826.jpg);
}
img{
    height:inherit !important;
    width:inherit !important;
}